/*Reset css section */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;	padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a:active, a:focus, img{outline:none;}


/*Main template styles*/
html{height:100%;text-align:center;}
body{
	background:#ffffff;
	font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
	font-style:normal;
	color:#333333;
	font-size:100%;
	line-height:150%;
	min-width:1200px;
	-moz-text-size-adjust:none;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;
	}

p,ul,ol{
	margin:0.7em 0;
	padding:0;
	text-align:left;
	}
ul,ol{
	padding:0 0 0 0px;
	}

h1,h2,h3,h4,h5,h6{
	margin:1em auto;
	text-align:left;
	font-weight:600;
	}
h2{
	text-align:left;
	font-size:250%;
	font-weight:normal;
	line-height:1.2em;
	}
strong{
	font-weight:bold;
	}
em{
	font-style:italic;
	}

td{
	vertical-align:top;
	}

a{
	color:#ffffff;
	text-decoration:underline;
	cursor:pointer;
	}
a:hover{
	color:#ffffff;
	text-decoration:none;
	}
.pseudoLink{
	border-bottom:1px dashed;
	text-decoration:none;
	}
	.pseudoLink:hover{
		border-bottom:0;
		}
.header{
	overflow:visible;
	background:url(../images/design/head-bg.jpg) center center #305777;
	color:#ffffff;
	padding: 0;
	height:650px;
	width:100%;
	background-size:cover;
	}
	.headerWrapper{
		width:1160px;
		padding:35px 20px;
		margin:0 auto;
		}
		.logo{
			width:220px;
			float:left;
			font-size:130%;
			}
			.logo a{
				text-decoration:none;
				color:#ffffff;
				display:inline-block;
				padding:25px 0 10px 85px;
				min-height:30px;
				background:url(../images/design/logo.png) left center no-repeat;
				}
		.callback{
			width:180px;
			float:right;
			font-size:110%;
			padding:25px 35px 25px 0;
			background:url(../images/design/icon-phone.png) right center no-repeat;
			}
			.callback a{
				text-decoration:none;
				}
	.topHeader{
		width:720px;
		float:left;
		padding:15px 0;
		}
		.bigPhone{
			font-size:160%;
			}
	.headerBanner{
		border:5px solid #ffffff;
		width:955px;
		margin:150px auto 0 auto;
		position:relative;
		}
		.bannerSlogan{
			padding:55px 20px 5px 55px;
			display:inline-block;
			width:300px;
			font-size:140%;
			line-height:2em;
			font-weight:bold;
			text-align:left;
			vertical-align:top;
			}
		.bannerHome{
			padding:120px 0 30px 0;
			display:inline-block;
			width:180px;
			font-size:110%;
			line-height:1.3em;
			vertical-align:top;
			background:url(../images/design/icon-house.png) center 70px no-repeat;
			}
		.bannerPrices{
			padding:55px 20px 0 0;
			display:inline-block;
			width:340px;
			font-size:170%;
			line-height:2em;
			text-align:right;
			vertical-align:top;
			}
			.bannerPrices span{
				display:block;
				}
			.bannerPrices strong{
				font-size:200%;
				}
				.oldPrice{
					position:relative;
					}
				.oldStroke{
					position:absolute;
					z-index:1;
					width:236px;
					height:32px;
					right:0;
					top:11px;
					background:url(../images/design/old-stroke.png) center center no-repeat;
					}
		.headerBanner .actionBtn{
			position:relative;
			bottom:-35px;
			font-size:140%;
			padding:20px 70px;
			}
.actionBtn{
	display:inline-block;
	color:#ffffff;
	font-weight:bold;
	padding:15px 40px;
	background:#89c21a;
	text-decoration:none;
	border-radius:3px;
	border:0;
	cursor:pointer;
	}
	.actionBtn:hover{
		background:#98d422;
		}
.contentWrapper{
	width:1160px;
	margin:0 auto;
	padding:2em 20px 4.5em 20px;
	text-align:center;
	}
	.contentWrapper h2{
		display:block;
		text-align:left;
		width:750px;
		text-indent:-1.2em;
		margin:0.5em 0 0.5em 1.2em;
		}
		.titleNumber{
			display:inline-block;
			width:1.2em;
			text-indent:0;
			font-weight:bold;
			}
.examplesBg{
	background:url(../images/design/examples-bg.png) center 90px no-repeat;
	}
	.examplesBg .contentWrapper{
		text-align:left;
		}
	.exampleBlock{
		display:inline-block;
		width:480px;
		height:340px;
		margin:10px;
		}
		.exampleBlock:nth-child(2){
			margin-left:42px;
			}
		.exampleBlock img{
			border-radius:5px;
			}
		.exampleBlock h4{
			margin:1em 32px 0.3em 32px; 
			}
		.exampleBlock p{
			margin:0.3em 32px; 
			}
	.exampleNote{
		background:#e8e8e8;
		border-radius:5px;
		margin:3em 5em 0 5em; 
		padding:2em 3em;
		font-size: 100%;
		}
.floatRight{
	float:right;
	}
#problems{
	text-align:left;
}
#problems .actionBtn{
	margin:1.3em 0 0 0;
}
	.featuresBlock{
		display:inline-block;
		width:870px;
		height:530px;
		position:relative;
		background:url(../images/design/house-scheme.jpg) center center;
		vertical-align:top;
	}
		.featuresBlock .featuresList li{
			display:block;
			position:absolute;
			font-size:120%;
			max-width:200px;
			text-align:center;
			padding:0 15px;
		}
			.featuresBlock .featuresList li:nth-child(1),
			.featuresBlock .featuresList li#feature1{
				top:77px;
				left:600px;
			}
			.featuresBlock .featuresList li:nth-child(2),
			.featuresBlock .featuresList li#feature2{
				top:100px;
				left:43px;
			}
			.featuresBlock .featuresList li:nth-child(3),
			.featuresBlock .featuresList li#feature3{
				top:440px;
				left:255px;
			}
			.featuresBlock .featuresList li:nth-child(4),
			.featuresBlock .featuresList li#feature4{
				top:480px;
				left:190px;
			}
			.featuresBlock .featuresList li:nth-child(5),
			.featuresBlock .featuresList li#feature5{
				top:455px;
				left:610px;
				max-width:100%;
			}
			.featuresBlock .featuresList li:nth-child(6),
			.featuresBlock .featuresList li#feature6{
				top:200px;
				left:705px;
			}
			.areaHighligh{
				display:none;
				position:absolute;
				width:50px;
				height:50px;
				top:50px;
				left:0;
				background:url(../images/design/house-area1.png) center center;
				}
				.featuresBlock .featuresList li:hover .areaHighligh{
					display:block;
				}
				.featuresBlock .featuresList li:nth-child(1) .areaHighligh,
				.featuresBlock .featuresList li#feature1 .areaHighligh{
					width: 257px;
					height: 75px;
					top: 127px;
					left: -119px;
					background:url(../images/design/house-area1.png) center center;
				}
				.featuresBlock .featuresList li:nth-child(2) .areaHighligh,
				.featuresBlock .featuresList li#feature2 .areaHighligh{
					width: 84px;
					height: 157px;
					top: 98px;
					left: 68px;
					background:url(../images/design/house-area2.png) center center;
				}
				.featuresBlock .featuresList li:nth-child(3) .areaHighligh,
				.featuresBlock .featuresList li#feature3 .areaHighligh{
					width: 361px;
					height: 20px;
					top: -78px;
					left: -24px;
					background:url(../images/design/house-area3.png) center center;
				}
				.featuresBlock .featuresList li:nth-child(4) .areaHighligh,
				.featuresBlock .featuresList li#feature4 .areaHighligh{
					width: 94px;
					height: 53px;
					top: -58px;
					left: -70px;
					background:url(../images/design/house-area6.png) center center;
				}
				.featuresBlock .featuresList li:nth-child(5) .areaHighligh,
				.featuresBlock .featuresList li#feature5 .areaHighligh{
					width: 128px;
					height: 78px;
					top: -41px;
					left: -205px;
					background:url(../images/design/house-area5.png) center center;
				}
				.featuresBlock .featuresList li:nth-child(6) .areaHighligh,
				.featuresBlock .featuresList li#feature6 .areaHighligh{
					width: 17px;
					height: 111px;
					top: 80px;
					left: 5px;
					background:url(../images/design/house-area4.png) center center;
				}
			.featuresBlock .featuresList li .hint{
				display:none;
			}
			.hint h4{
				margin:0 0 1em 0;
				}
			.hint p{
				font-size:90%;
				}
			.featuresList .hint .pseudoLink{
				color:#ffffff;
				}
	.featuresListCol{
		display:inline-block;
		width:240px;
		margin:2em 0 0 0;
		vertical-align:top;
	}
	.featuresListCol h4{
		font-size:150%;
	}
		.featuresList{
			list-style:none;
		}
			.featuresList li{
				margin:0 0 1em 0;
			}
			.featuresList .pseudoLink{
				color:#4195fe;
				cursor:pointer;
			}
.featureText{
	display:inline-block;
	width:260px;
	margin:2em 0 0 10px;
	vertical-align:top;
	position:relative;
}
	.featureText .hint{
		display:block;
		width:220px;
		background:#4195fe;
		color:#ffffff;
		text-align:left;
		padding:20px;
		border-radius:10px;
		box-shadow:0 2px 4px -1px rgba(0,0,0,0.5);
		z-index:3;
	}

#advantages{
	height:1150px;
	background:url(../images/design/advantages-bg.jpg) center center;
	color:#ffffff;
	padding:25px 0;
	}
	.advantagesRow{
		margin:90px 0 80px 0;
		min-height:190px;
		text-align:left;
	}
		.advantageDescription{
			display:inline-block;
			width:410px;
			min-height:190px;
			vertical-align:middle;
		}
			.advantageDescription h3{
				font-size:300%;
				line-height:1.1em;
				margin:0.3em 0;
			}
		.advantageExample{
			display:inline-block;
			vertical-align:top;
			text-align:center;
			width:600px;
			margin:1.5em 0 0 0;
		}
			.exampleCell{
				margin:0 0.2em;
				display:inline-block;
				text-align:center;
				vertical-align:middle;
				font-size:300%;
			}
			.exampleCell p{
				text-align:center;
				margin:0;
				line-height:1.6em;
			}
			.exampleCell .smallText{
				font-size:30%;
			}
	.greenBg{
		background:#89c21a;
	}
	.advantageDescription.greenBg{
		padding:20px;
		min-height:150px;
		margin:2em 0;
	}
#helps{}
#helps h2{
	margin-top:2em;
}
.rightBanner{
	float:right;
	width:430px;
	text-align:left;
}
	.rightBanner .actionBtn{
		font-size:130%;
		padding:20px 50px;
		margin:0.5em 0;
	}
	.rightBanner .bigText{
		font-size:110%;
	}
.arrowDown{
	padding:12px 0 0 60px;
	background:url(../images/design/arrow-down.png) left 30px no-repeat;
}
.arrowUp{
	padding:0 0 0 60px;
	background:url(../images/design/arrow-up.png) left 30px no-repeat;
}
.tabBtns{
	display:block;
	text-align:left;
}
	.tabBtn{
		display:inline-block;
		color:#2a2a2a;
		text-decoration:none;
		line-height:40px;
		font-size:170%;
		margin:2.5em 1em 0 0;
	}
	.tabBtn:hover{
		color:#2a2a2a;
	}
	.tabBtn span{
		display:inline-block;
		vertical-align:middle;
	}
	.tabBtn .icon{
		display:inline-block;
		width:40px;
		height:40px;
		vertical-align:middle;
		margin:0;
	}
		.tabBtn .icon.home{
			background:url(../images/design/icons-tabs.png) 0 0 no-repeat;
		}
		.tabBtn .icon.buisness{
			background:url(../images/design/icons-tabs.png) 0 -40px no-repeat;
		}
	.tabPage{
		display:none;
		
	}
	.tabPage.active{
		display:block;
		
	}
.slider{
	width:100%;
	min-height:620px;
	position:relative;
	overflow:hidden;
	}
	.slider li{
		width:420px;
		margin:0 30px 0 0;
	}
	.slideImg{
		display:block;
		width:420px;
		height:420px;
		position:relative;
		overflow:hidden;
		border-radius:5px;
		background:#212121;
	}
		.slideImg img{
			position:relative;
			z-index:0;
			width:100%;
		}
		.imgDescription{
			display:none;
			position:absolute;
			top:90px;
			left:70px;
			right:70px;
			z-index:1;
			padding:20px;
			background:#4195fe;
			color:#ffffff;
			border-radius:5px;
		}
		.imgDescription h4{
			font-size:120%;
			margin:0 0 1em 0;
		}
		.imgDescription .actionBtn{
			display:block;
			background:transparent;
			border:1px solid;
			text-align:center;
			margin:1em 0 0 0;
		}
		.imgDescription .actionBtn:hover{
			background:rgba(255,255,255,0.3);
		}
		.slider li:hover .imgDescription{
			display:block;
		}
		.slider li:hover .slideImg img{
			opacity:0.6;
		}
		.slideText{
			padding:18px 0;
		}
		.slideText p{
			margin:22px 0 18px 0;
			font-size:120%;
			line-height:22px;
		}
		.slideText p.address{
			font-size:100%;
			color:#777777;
			margin:18px 0;
		}
		.slideText p.price{
			font-size:190%;
			line-height:32px;
			margin:18px 0 28px 0;
		}
.countersBg{
	height:600px;
	background: url(../images/design/counters-bg.jpg) center center #89c21a;
	background-size:cover;
	color:#ffffff;
}
	.countersBg .actionBtn{
		font-size:140%;
		background:transparent;
		border:1px solid;
		text-align:center;
		margin:1em 0 0 0;
		padding:25px 50px;
	}
	.countersBg .actionBtn:hover{
		background:rgba(255,255,255,0.3);
	}
	.counterBlock{
		display:inline-block;
		vertical-align:top;
		width:240px;
		padding:20px 30px 0 30px;
		margin:3em 0 2em 0;
	}
		.counterBlock p{
			line-height:1.3em;
			text-align:center;
			margin:0 0 0.3em 0;
		}
		.counterNumber{
			font-size:300%;
		}
	.stepsBg .rightBanner{
		margin-top:0.5em;
	}
	.stepsBg{
		min-height:800px;
		background: url(../images/design/steps-bg.jpg) right bottom no-repeat;
	}
	.stepsBlock{
		background: url(../images/design/steps-line.png) left 80px no-repeat;
		position:relative;
		height:580px;
		width:490px;
	}
		.stepsList{
			margin:0;
			padding:0;
			list-style-type: none;
			counter-reset: item;
		}
		.stepsList li{
			margin-left:45px;
			position:absolute;
			display: list-item;
			padding:10px 0 15px 0;
			max-width:250px;
		}

		.stepsList li:before {
			content: counter(item);
			counter-increment: item;
			font-size: 150%;
			line-height: 60px;
			font-weight: bold;
			border: 1px solid #c6c6c6;
			display: block;
			width: 60px;
			height: 60px;
			text-align: center;
			border-radius: 50%;
			position:absolute;
			left:-75px;
			top:3px;
		}
		.stepsList li.doneStep:before {
			border: 1px solid #89c21a;
			background:#89c21a;
			color:#ffffff;
		}
			.stepsList li:nth-child(1),
			.stepsList li#feature1{
				top:7px;
				left:74px;
			}
			.stepsList li:nth-child(2),
			.stepsList li#feature2{
				top:100px;
				left:165px;
				line-height:50px;
			}
			.stepsList li:nth-child(3),
			.stepsList li#feature3{
				top:200px;
				left:175px;
				line-height:50px;
			}
			.stepsList li:nth-child(4),
			.stepsList li#feature4{
				top:295px;
				left:125px;
				line-height:50px;
			}
			.stepsList li:nth-child(5),
			.stepsList li#feature5{
				top:385px;
				left:90px;
			}
			.stepsList li:nth-child(6),
			.stepsList li#feature6{
				top:465px;
				left:155px;
				line-height:50px;
			}
			.stepsList li:nth-child(7),
			.stepsList li#feature7{
				top:525px;
				left:235px;
				line-height:50px;
			}
.bonusBannerLeft{
	width:570px;
	display:inline-block;
	vertical-align:top;
	position:relative;
	text-align:right;
	margin:1em 0 0 0;
}
	.bonusBannerLeft .textOnBlue{
		display:block;
		padding:20px 30px;
		color:#ffffff;
		position:absolute;
		width:360px;
		top:190px;
		left:20px;
		background:#4195fe;
		font-size:250%;
		font-weight:bold;
		line-height:1.2em;
	}
.formBlock{
	width:556px;
	display:inline-block;
	vertical-align:top;
	padding:0 0 2em 1em;
	background: url(../images/design/bonus-bg.jpg) right bottom no-repeat;
}
	.formBlock p{
		font-size:180%;
		line-height:1.2em;
	}
	.bonusForm{
		display:block;
		padding:30px;
		margin:2.5em 0 0 0;
		width:300px;
		color:#ffffff;
		background:#4195fe;
	}
	.bonusForm .fancyInput{
		width:278px;
		color:#ffffff;
		font-size:100%;
		line-height:1.2em;
		padding:10px 10px;
		text-align:left;
		margin:0 0 1em 0;
		border:2px solid;
		background:transparent;
	}
	.bonusForm .actionBtn{
		display:block;
		width:300px;
		font-size:120%;
		margin:0.3em 0 0 0;
	}
.requestBg{
	color:#ffffff;
	height:350px;
	background: url(../images/design/request-bg.jpg) center center #3f8dd5;
	background-size:cover;
}
	.requestBg h2{
		font-size:200%;
		font-weight:bold;
		text-align:center;
		text-indent:0;
		width:auto;
		margin:1.5em 0;
	}
	.requestForm{
		margin:4em 0 0 0;
	}
	.requestForm .fancyInput{
		width:258px;
		color:#ffffff;
		font-size:110%;
		line-height:1.2em;
		padding:12px 10px;
		text-align:left;
		margin:0 1em 1em 0;
		border:2px solid;
		background:transparent;
	}
	.requestForm .actionBtn{
		font-size:120%;
	}
	.fancybox-inner .requestForm .actionBtn{
		width: 280px;
	}
::-webkit-input-placeholder {
	color:#ffffff;
}

:-moz-placeholder { /* Firefox 18- */
	color:#ffffff;
}

::-moz-placeholder {  /* Firefox 19+ */
	color:#ffffff;
}

:-ms-input-placeholder {  
	color:#ffffff;
}
footer{
	background:#252832;
	min-height:170px;
	color:#ffffff;
	overflow:hidden;
	}
	footer .contentWrapper{
		padding:45px 0;
		text-align:left;
		}
.footercopyright{
	width:360px;
	display:inline-block;
	vertical-align:top;
	}
	.footercontacts{
		display:inline-block;
		width:530px;
		vertical-align:top;
		}
		.footercontacts .icon{
			display:inline-block;
			width:20px;
			height:20px;
			vertical-align:middle;
		}
		.footercontacts .icon.map{
			background: url(../images/design/icon-map.png) center 0 no-repeat;
		}
	.footercreator{
		width:230px;
		display:inline-block;
		vertical-align:top;
		}
	footer a{
		color:#89c21a;
	}
	footer a:hover{
		color:#89c21a;
		text-decoration:none;
	}
	footer span{
		color:#9da3a9;
	}
	footer .timeText{
		color:#baea13;
	}
.hidden{
	display:none;
	visibility:hidden;
	}
.clear{
	float:none;
	clear:both;
	overflow:hidden;
	padding:1px 0;
	}
		
/* jCarousel */

.jcarousel-wrapper {
    __width:1160px;
	margin:0 30px;
	position:relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: visible;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    display:inline-block;
	vertical-align: top;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
	top: 165px;
	left:50%;
	font-size: 0;
	background: url(../images/design/slider-arrows.png) no-repeat #ffffff;
	height: 90px;
	width: 90px;
	margin: 0;
	padding: 0;
	opacity: .75;
	display:block;
	border-radius:50%;
	z-index:2;
}

.jcarousel-control-prev {
	background: url(../images/design/slider-arrows.png) left center no-repeat #ffffff;
	margin-left:-570px;
}

.jcarousel-control-next {
	background: url(../images/design/slider-arrows.png) right center no-repeat #ffffff;
	margin-left:490px;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    opacity:1;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .25;
    cursor: default;
}

.blueForm{
	background:#4195fe;
	width:280px;
	padding:20px;
	color:#ffffff;
	margin:0;
	}
	.blueForm h3{
		font-size:140%;
		margin-top:0;
	}
	.formGroup{
		display:inline-block;
		position:relative;
	}
.error{
	color:#ffffff;
	position:absolute;
	font-size:80%;
	text-align:left;
	top:-19px;
	left:4px;
}
.fancyInput.errorinput{
	background:#1b80fe;
	}

	.fancybox-inner{
		border-radius: 5px;
		background:#4195fe;
	}
.fancybox-close{
	background: url(../images/fancybox/fancy_close.png) center center no-repeat;
	background-size:cover;
	top: -38px;
    right: -38px;
    width: 18px;
    height: 18px;
}
/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamproregular/gothamproregular.eot");
    src: url("../fonts/gothamproregular/gothamproregular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamproregular/gothamproregular.woff") format("woff"),
    url("../fonts/gothamproregular/gothamproregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamprobold/gothamprobold.eot");
    src: url("../fonts/gothamprobold/gothamprobold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamprobold/gothamprobold.woff") format("woff"),
    url("../fonts/gothamprobold/gothamprobold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}